<form class="d-flex mt-4" method="post" action="">
    <input class="form-control me-2" name="q" type="text" placeholder="Search" aria-label="Search">
    <select name="gender" id="">
        <option value="">--Chọn giới tính:</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>